/* css for index page */
body {
  font-family: Arial, sans-serif;
  background-color: #a4ccea;
  margin: 0;
  padding: 8px;
  color: brown;
}

h1 {
  color: #660002;
}

.contentImg {
    width: 100px;
    height: auto;
}

#outputResult {
  font-size: 28px;
  color: #ff0000;
}